@model PetApp.Models.Pet

@{
    ViewData["Title"] = "Delete";
}

<div class="pet-details">
    <header class="pet-details-header">
        <h2>Are you sure you want to delete the record for @Html.DisplayFor(model => model.AnimalName)?</h2>
        <div class="btn-group">
            <form asp-action="Delete">
                <a asp-action="Index" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Back to List
                </a>
                <button type="submit" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    Delete
                </button>
            </form>
        </div>
    </header>

    <input type="hidden" asp-for="ID" />

    <div class="row">
        <div class="col-md-4">
            <img src="@Html.DisplayFor(model => model.PhotoUrl)" alt="@Html.DisplayFor(model => model.AnimalName)">
        </div>
            
        <div class="col-md-4">
            <h3>Pet Details</h3>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.RegisterDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RegisterDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SerialNum)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SerialNum)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AnimalCategory)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AnimalCategory)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Breed)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Breed)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AnimalName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AnimalName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.BirthDate)
                </dd>
            </dl>
        </div>

        <div class="col-md-4">
            <h3>Owner Details</h3>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.OwnerName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OwnerName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OwnerStreet)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OwnerStreet)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OwnerState)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OwnerState)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OwnerZip)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OwnerZip)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OwnerPhoneNum)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OwnerPhoneNum)
                </dd>
            </dl>
        </div>
    </div>
</div>
